/*#p{
  top: 0px;
  font-size: 7px;
}*/

.tchat {
  border: 1px solid black;
  height: 300px;
  width: 300px;
  float: right;
}


#message {
  height: 20px;
  width: 100px;
}


.game {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 25px;
  width: 600px;
  height: 500px;
  border: 1px solid black;
  padding-top: 0px;
}

.name_life_time { 
  position: absolute;
  border-bottom: 1px solid black;
  width: 100%;
  height: 15%;
  top: 0px;
}

.nameJ1 { 
  position: absolute;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 45%;
  height: 33%;
  left: 0px;
  top: 0px;
  text-align: top;
  padding-top: 0px;
}

.lifeJ1 { 
  position: absolute;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 45%;
  height: 33%;
  left: 0px;
  top: 33%;
}

.special_attackJ1 { 
  position: absolute;
  width: 45%;
  height: 34%;
  left: 0px;
  border-right: 1px solid black;
  top: 66%;
}

.nameJ2 { 
  position: absolute;
  border-bottom: 1px solid black;
  width: 45%;
  height: 33%;
  left: 55%;
  border-left: 1px solid black;
  top: 0px;
  text-align: top;
  padding-top: 0px;
}

.lifeJ2 { 
  position: absolute;
  border-bottom: 1px solid black;
  width: 45%;
  height: 33%;
  left: 55%;
  border-left: 1px solid black;
  top: 33%;
}

.special_attackJ2 { 
  position: absolute;
  width: 45%;
  height: 34%;
  left: 55%;
  border-left: 1px solid black;
  top: 66%;
}

.time { 
  position: absolute;
  width: 10%;
  height: 66%;
  left: 45%;
  top: 34%;
}

.fight_zone {
  position: absolute;
  border-bottom: 1px solid black;
  top: 0px;
  width: 100%;
  height: 80%;
  background-image:url('images/fond/fond1.svg');
}

.commandes {
  position: absolute;
  width: 100%;
  top:80%;
  height: 20%;
}

.erreur {
position: absolute;
width: 100%;
margin-top:25%;
text-align: center;
}

/*-----------------------Mouvement perso--------------------------*/

/*------------KEN-------------*/
.Ken {
    position:absolute;
    width:180px; height:206px;
    margin-top: 32%;
    background-image:url('images/perso/KEN1.svg');
}
.superCoupKen {
    position:absolute;
    width:175px; height:150px;
    margin-top: 31%;
    background-image:url('images/perso/KEN1.svg');
}

/*_____Ken Base_____*/
@keyframes animeKenBase {
  from { background-position: 7.5px -202px; }
  to { background-position: -700px -202px; }
}

#animeKen1 {
  animation: animeKenBase 2s infinite steps(4);
}

/*_____Ken Punch_____*/
@keyframes animeKenPunch {
  from { background-position: 7.5px -408px; }
  to { background-position: -350px -408px; }
}

#animeKen2 {
  animation: animeKenPunch 0.25s steps(2);
}

/*_____Ken a Droite et Gauche au Sol_____*/
@keyframes animeKenDroiteSol {
  from { background-position: 7.5px -615px; }
  to { background-position: -700px -615px; }
}

#animeKen3 {
  animation: animeKenDroiteSol 0.5s steps(4);
}

/*_____Ken Accroupi_____*/
#animeKen4 {
  background-position: 7.5px -1000px;
}

/*_____Ken Coup de Pied_____*/
@keyframes animeKenCoupPied{
  from { background-position: 7.5px -1210px; }
  to { background-position: -700px -1210px; }
}

#animeKen5 {
  animation: animeKenCoupPied 0.35s steps(4);
}

/*_____Ken Super Coup_____*/
@keyframes animeKenSuperCoup{
  from { background-position: 7.5px 0px; }
  to { background-position: -525px 0px; }
}

#animeKen6 {
  animation: animeKenSuperCoup 0.5s steps(3);
}

/*_____Ken Ajout Super Coup_____*/
#animeKen7 {
  background-position: 7.5px -820px;
}

/*_____Ken defense_____*/
@keyframes animeKenDefense{
  from { background-position: 7.5px -1425px; }
  to { background-position: -175px -1425px; }
}

#animeKen8 {
  animation: animeKenDefense 1s steps(1);
}

/*_____Ken Saut_____*/
@keyframes animeKenSaut{
  from { background-position: 7.5px -1635px; }
  to { background-position: -1050px -1635px; }
}

#animeKen9 {
  animation: animeKenSaut 1s steps(6);
}

/*_____Ken degat_____*/

#animeKen10 {
  background-position: -175px -996px;
}






/*------------RYU-------------*/

.Ryu {
    position:absolute;
    width:180px; height:206px;
    margin-top: 32%;
    background-image:url('images/perso/RYU1.svg');
}
.superCoupRyu {
    position:absolute;
    width:175px; height:150px;
    margin-top: 31%;
    background-image:url('images/perso/RYU1.svg');
}

/*_____Ryu Base_____*/
@keyframes animeRyubase {
  from { background-position: -1035px -202px; }
  to { background-position: -510px -202px; }
}

#animeRyu1 {
  animation: animeRyubase 2s infinite steps(3);
}

/*_____Ryu Punch_____*/
@keyframes animeRyuPunch {
  from { background-position: -1035px -408px; }
  to { background-position: -685px -408px; }
}

#animeRyu2 {
  animation: animeRyuPunch 0.25s steps(2);
}

/*_____Ryu a Droite et Gauche au Sol_____*/
@keyframes animeRyuDroiteSol {
  from { background-position: -1035px -615px; }
  to { background-position: -335px -615px; }
}

#animeRyu3 {
  animation: animeRyuDroiteSol 0.5s steps(4);
}

/*_____Ryu Accroupi_____*/
#animeRyu4 {
  background-position: -1035px -1000px;
}

/*_____Ryu Coup de Pied_____*/
@keyframes animeRyuCoupPied{
  from { background-position: -1046px -1210px; }
  to { background-position: -346px -1210px; }
}

#animeRyu5 {
  animation: animeRyuCoupPied 0.35s steps(4);
}

/*_____Ryu Super Coup_____*/
@keyframes animeRyuSuperCoup{
  from { background-position: -1035px 0px; }
  to { background-position: -525px 0px; }
}

#animeRyu6 {
  animation: animeRyuSuperCoup 0.5s steps(3);
}

/*_____Ryu Ajout Super Coup_____*/
#animeRyu7 {
  background-position: -1035px -820px;
}

/*_____Ryu defense_____*/
@keyframes animeRyuDefense{
  from { background-position: -1035px -1425px; }
  to { background-position: -860px -1425px; }
}

#animeRyu8 {
  animation: animeRyuDefense 1s steps(1);
}

/*_____Ryu Saut_____*/
@keyframes animeRyuSaut{
  from { background-position: -1050px -1635px; }
  to { background-position: 7.5px -1635px; }
}

#animeRyu9 {
  animation: animeRyuSaut 1s steps(6);
}

/*_____Ryu degat_____*/

#animeRyu10 {
  background-position: -850px -996px;
}
